.zui-dialog {
    .zui-alert-title {
        font-size: 20px;
        text-align: center;
    }
    .zui-alert-content {
        margin: 12px 0 16px;
        font-size: 12px;
        color: $descTxtColor;
    }
}