.zui-button {
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    line-height: 47px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    &.zui-button-primary {
        color: white;
        background-color: $primaryColor;
        border: 1px solid $primaryColor;
        &:active {
            color: rgba(255, 255, 255, 0.3);
            background-color: #1d82cc;
        }
    }
    &.zui-button-raw {
        border: 1px solid #dcdfe6;
        color: #606266;
        &:active {
            color: $primaryColor;
            border: 1px solid $primaryColor;
            box-shadow: 0 0 2px 0 $primaryColor;
        }
    }
    &.zui-button-warn {
        border: 1px solid $errorColor;
        background: $errorColor;
        color: white;
        &:active {
            background-color: red;
        }
    }
    &.zui-avatar {
        border-radius: 666px;
        overflow: hidden;
    }
    &.zui-button-disbale {
        pointer-events: none;
        background: $descTxtColor;
        border: 1px solid $descTxtColor;
        opacity: 0.7;
    }
}