.zui-button {
    &.zui-primary {
        color: white;
        line-height: 47px;
        background-color: $primaryColor;
        border: 1px solid $primaryColor;
        border-radius: 5px;
        text-align: center;
        &:active {
            color: rgba(255, 255, 255, 0.3);
            background-color: #1d82cc;
        }
    }
}