.zui-checkbox {
    display: flex;
    align-items: center;
    .zui-check {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: white;
        border: 1px solid $descTxtColor;
        position: relative;
        margin-right: 2px;
        transition: all 0.2s;
        box-shadow: 0 0 1px 1px $thinGrey inset;
    }
    &.zui-check-primary {
        .zui-check {
            border-radius: 3px;
        }
    }
    &.zui-check-round {
        .zui-check {
            border-radius: 50%;
        }
    }
    &.zui-checked {
        .zui-check {
            background: $primaryColor;
            border: 1px solid $primaryColor;
            box-shadow: 0 0 2px 0 $primaryColor;
            &::before {
                content: '';
                position: absolute;
                width: 9px;
                height: 5px;
                border-radius: 1px;
                top: 3px;
                left: 2px;
                transform: rotate(-45deg);
                // animation: checkAnm 0.3s forwards;
                border-bottom: 2px solid white;
                border-left: 2px solid white;
            }
            // @keyframes checkAnm {
            //     0% {
            //     }
            //     50% {
            //         border-left: 2px solid white;
            //     }
            //     100% {
            //         border-bottom: 2px solid white;
            //         border-left: 2px solid white;
            //     }
            // }
        }
    }
    &.zui-check-disabled {
        opacity: 0.7;
        pointer-events: none;
    }
}