.zui-dialog {
    .zui-confirm-title {
        font-size: 20px;
        text-align: center;
    }
    .zui-confirm-content {
        margin: 12px 0 16px;
        font-size: 14px;
        color: $descTxtColor;
    }
    .zui-confirm-btn-box {
        display: flex;
        justify-content: space-around;
        >div {
            width: 44%;
        }
    }
}