// 初始化的css样式
@import './base.scss';

// 统一颜色
$primaryColor: #108ee9;
$grey: #d6d6d6;
$thinGrey: #f7f7f7;

// 底部0.5px的线
@mixin line-bottom {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: $grey;
        transform: scaleY(0.5);
        bottom: 0;
        left: 0;
    }
}

/*公共类*/
.zui-hide {
    display: none
}

/*  ===============
    下拉刷新 + 上拉加载 CSS样式
    ===============
*/ 
@import './refresh.scss';
/*  ===============
    sheet 底框 css样式
    ===============
*/
@import './sheet.scss';
/*  ===============
    按钮 css样式
    ===============
*/
@import './button.scss';

