// 初始化的css样式
@import './base.scss';

// 统一颜色
$primaryColor: #108ee9;
$errorColor: #ff4949;
$descTxtColor: #888;
$grey: #d6d6d6;
$thinGrey: #f7f7f7;

// 底部0.5px的线
@mixin line-bottom {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: $grey;
        transform: scaleY(0.5);
        bottom: 0;
        left: 0;
    }
}

/*公共类*/
.zui-hide {
    display: none
}

.zui-clearfix {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

/*  ===============
    按钮 css样式
    ===============
*/
@import './button.scss';

/*  ===============
    下拉刷新 + 上拉加载 CSS样式
    ===============
*/ 
@import './scroll.scss';

/*  ===============
    sheet 底框 css样式
    ===============
*/
@import './sheet.scss';

/*  ===============
    Tabs css样式
    ===============
*/
@import './tabs.scss';

/*  ===============
    Picker css样式
    ===============
*/
@import './picker.scss';

/*  ===============
    Dialog css样式
    ===============
*/
@import './dialog.scss';

/*  ===============
    Alert css样式
    ===============
*/
@import './alert.scss';

/*  ===============
    Confirm css样式
    ===============
*/
@import './confirm.scss';

/*  ===============
    Confirm css样式
    ===============
*/
@import './steps.scss';

/*  ===============
    Checkbox css样式
    ===============
*/
@import './checkbox.scss';

/*  ===============
    Switch css样式
    ===============
*/
@import './switch.scss';

/*  ===============
    Keyboard css样式
    ===============
*/
@import './keyboard.scss';

/*  ===============
    Waterfall css样式
    ===============
*/
@import './waterfall.scss';

/*  ===============
    Swiper css样式
    ===============
*/
@import './swiper.scss';

/*  ===============
    Notice css样式
    ===============
*/
@import './notice.scss';

/*  ===============
    MarbleLoading css样式 弹珠式Loading
    ===============
*/
@import './marble-loading.scss';
