.zui-keyboard {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .zui-key {
        width: 31%;
        font-size: 18px;
        margin-top: 1.5%;
        &.zui-key-del {
            border: none;
            &:active {
                border: none;
                box-shadow: none;
                background: $grey;
            }
        }
        .zui-key-arrow {
            width: 26px;
            height: 26px;
            transform: rotate(-90deg);
            vertical-align: middle;
        }
    }
}