.zui-notice {
    font-size: 14px;
    color: #f76a24;
    background: #fefcec;
    line-height: 36px;
    padding: 0 15px;
    display: flex;
    .zui-notice-icon {
        margin-right: 4px;
    }
    .zui-notice-box {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        .zui-notice-item {
            white-space: nowrap;
            display: inline-block;
        }
    }
    &.zui-notice-quiet .zui-notice-item {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        display: block;
    }
}