
.zui-refresh-box {
    overflow: hidden;
    background: $primaryColor; /* 标准蓝色 */
    position: relative;
    .zui-refresh-area {
        position: relative;
        background: white;
        height: 100%;
        overflow-y: auto;
        /*  扩宽空间 */
        transform: translate(0, -50px); 
        padding-bottom: 50px;
        margin-bottom: -50px;
    }
    .zui-refresh-tip {
        height: 50px;
        line-height: 50px;
        background: $primaryColor; /* 标准蓝色 */
        text-align: center;
        color: white;
    }
}