
.zui-sheet-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    touch-action: none;
    .zui-sheet-mask {
        background: rgba(0, 0, 0, 0.4);
        height: 100%;
    }
    .zui-sheet-area {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 3;
        transition: all 0.3s;
        // border-radius: 16px 16px 0 0;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
        .zui-sheet-header {
            line-height: 38px;
            display: flex;
            font-size: 16px;
            justify-content: space-between;
            padding: 0 16px;
            background: $thinGrey;
            border-radius: 16px 16px 0 0;
            @include line-bottom;
        }
        .zui-sheet-body {
            height: calc(100% - 38px);
            background: white;
            overflow-y: auto;
            position: relative;
        }
        /* 
            入场动画
        */
        height: 0;
    }
    /* 
        开场动画
    */
    opacity: 0;
    transition: all 0.3s;
    &.zui-sheet--in {
        opacity: 1;
        .zui-sheet-area {
            height: 280px;
        }
    }
    // 退出动画
    &.zui-sheet--out {
        opacity: 0;
        .zui-sheet-area {
            height: 0;
        }
    }
}