
.zui-sheet-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    transition: all 0.3s;
    &.zui-sheet-transition {
        
    }
    /* 
        开场动画
    */
    transition: all 0.3s;
    animation: showMaskAnm 0.3s;
    @keyframes showMaskAnm {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .zui-sheet-mask {
        background: rgba(0, 0, 0, 0.4);
        height: 100%;
    }
    .zui-sheet-area {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
        z-index: 3;
        .zui-sheet-header {
            line-height: 38px;
            display: flex;
            font-size: 16px;
            justify-content: space-between;
            padding: 0 16px;
            background: $thinGrey;
            @include line-bottom;
        }
        .zui-sheet-body {
            height: calc(100% - 38px);
            overflow-y: auto;
            position: relative;
        }
        /* 
            入场动画
         */
        height: 280px;
        animation: sheetAreaAnm 0.3s;
        @keyframes sheetAreaAnm {
            0% {
                height: 0;
            }
            100% {
                height: 280px;
            }
        }
    }
    // 退出动画
    &.zui-quit {
        opacity: 0;
        .zui-sheet-area {
            height: 0;
            transition: all 0.3s;
        }
    }
}