.zui-swiper {
    overflow: hidden;
    .zui-swiper-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        .zui-swiper-item{
            width: 100%;
            height: 100%;
            flex-shrink: 0;
        }
    }
    &.zui-swiper-y {
        .zui-swiper-body {
            flex-direction: column;
        }
    }
}