.zui-switch {
    display: inline-block;
    .zui-switch-body {
        background: $errorColor;
        display: block;
        width: 52px;
        height: 28px;
        position: relative;
        transition: all 0.3s;
        z-index: 1;
        box-shadow: 0 0 4px $grey;
        .zui-switch-txt {
            position: absolute;
            z-index: 2;
            left: 2px;
            font-size: 14px;
            line-height: 28px;
            transition: opacity 0.3s;
            &.zui-on {
                left: 8px;
                color: white;
                opacity: 0;
            }
            &.zui-off {
                color: white;
                left: auto;
                right: 8px;
                opacity: 1;
            }
        }
        &::after {
            content: '';
            display: inline-block;
            background: white;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 2px;
            top: 2px;
            transition: all 0.3s;
            box-shadow: 0 0 4px 0 $grey;
        }
    }
    &.zui-switch-primary {
        .zui-switch-body {
            border-radius: 66px;
        }
    }
    &.zui-switch-raw {
        .zui-switch-body {
            border-radius: 66px;
            box-shadow: 0 0 2px 2px #e5e5e5 inset;
            background: white;
        }
        &.zui-switch-checked {
            .zui-switch-body {
                box-shadow: none;
            }
        }
    }
    &.zui-switch-square {
        .zui-switch-body {
            border-radius: 3px;
            width: 70px;
            height: 22px;
            .zui-switch-txt {
                line-height: 22px;
            }
            &::after {
                border-radius: 3px;
                height: 18px;
                width: 33px;
            }
        }
        &.zui-switch-checked {
            .zui-switch-body {
                &::after {
                    margin-left: -35px;
                    left: 100%;
                }
            }
        }
    }
    &.zui-switch-disabled {
        opacity: 0.7;
        pointer-events: none;
        .zui-switch-body {
            background: gray;
        }
    }
    &.zui-switch-checked {
        .zui-switch-body {
            background: $primaryColor;
            .zui-switch-txt {
                &.zui-on {
                    opacity: 1;
                }
                &.zui-off {
                    opacity: 0;
                }
            }
            &::after {
                margin-left: -26px;
                left: 100%;
            }
        }
    }
}