body {
    background-color: #f5f5f9;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    padding-left: constant(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-right: env(safe-area-inset-right);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    user-select: none;
}

.test-value-box {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}

.test-enter-tip-box {
    h3 {
        text-align: center;
    }
    .test-tip-item {
        margin-top: 10px;
        color: #8c8989;
        line-height: 25px;
        .test-tip-strong {
            color: red;
        }
    }
}